<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8"></meta>
<title>Employee</title>
</head>
<body>
	<h1>従業員詳細</h1>
	<div th:object="${selectOne}">
		<table border="1">
			<tr>
				<th>id</th>
				<td th:text="*{id}"></td>
			</tr>
			<tr>
				<th>name</th>
				<td th:text="*{name}"></td>
			</tr>
			<tr>
				<th>age</th>
				<td th:text="*{age}"></td>
			</tr>
		</table>
	</div>
</body>
</html>
