<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
 <meta charset="UTF-8"></meta>
 <title>Hello World1</title>
</head>
<body>
 <h1>Hello World</h1>
 <form method="post" action="/hello">
 入力:<input type="text" name="text1"/>
 <input type="submit" value="クリック">
 </form>
 <form method="post" action="/hello/db">
 従業員ID:<input type="text" name="text2" th:value="${text2_value}"/>
 <input type="submit" value="クリック">
 </form>
<!-- 別画面へ遷移 th:href -->
	<a th:href="@{/employee/employeeList}">
		<button>従業員リスト</button>
	</a>
	<a th:href="@{/dateCalc/dateList}">
		<button>日付計算アプリへ</button>
	</a></html>