<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
 <meta charset="UTF-8"></meta>
 <title>Hello World1</title>
</head>
<body>
 <h1>Hello World</h1>
 <form method="post" action="/hello">
 入力:<input type="text" name="text1"/>
 <input type="submit" value="クリック">
 </form>
 <form method="post" action="/hello/db">
 従業員ID:<input type="text" name="text2" th:value="${text2_value}"/>
 <input type="submit" value="クリック">
 </form>
 <form method="post" action="/hello/db2">
 従業員ID2:<input type="text" name="id" th:object="${IdsearchRequest}"/>
 <input type="submit" value="クリック">
 </form>
   <!-- Listへ遷移 -->
  <!-- 任意のページに画面遷移するやり方で一番オーソドックスな方法 -->
  <a href="./employeeList">EmployeeList</a>
 
 <!--  <form method="get" action="/employeeList">
 Employee Listへ<input type="submit" value="移動">
 </form>
 </body> -->
</html>