<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3mapper.dtd">

<!-- Mppperとxmlのマッピング -->>
<mapper namespase="com.example.demo.hello.repository.Usermapper">

<!-- ユーザー1件登録 -->
<select id="seach" resultType="com.example.demo.hello.domain.user.entity.IdSearch">
	SELECT * FROM employee WHERE id = #{id}
	</select>
</mapper>>